@import "../../../global.scss";

.Logout {
  background-color: $alt-red;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: absolute;
  top: 80vh;
  left: 5vw;
  z-index: 100;
}

.post__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: $dark;
  border-radius: 1rem;

  .username {
    padding: 2rem;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
