@import "../../../global.scss";

.Navbar {
  background-color: $primary;
  height: 80px;
  padding: 0.5rem 2rem;
  color: $darker;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;

    .img {
      height: 60px;
      width: auto;
    }

    @media (max-width: 799px) {
      .text {
        display: none;
      }
    }
  }

  .greeting {
    display: flex;
    align-items: center;

    .hello {
      padding-right: 1rem;
    }
  }
}
