@import "../../../global.scss";

.HomePage {
  .flex {
    display: flex;
    justify-content: space-evenly;
  }

  .left {
    flex: 3;
  }

  .right {
    flex: 9;
  }
}

@media (max-width: 799px) {
  .left {
    display: none;
  }
}
