@import "../../../global.scss";

.HomePage {
  .flex {
    display: flex;
    justify-content: space-evenly;
  }

  .left {
    width: 300px;
    @media (max-width: 799px) {
      display: none;
    }
  }

  .right {
    flex: 9;
  }
}
